[Unit] 
Description="LORA Web" 
After=postgresql.service mosquitto.service

[Service]
User=lora
Group=lora
Environment=LD_LIBRARY_PATH=/rno-g/lora/3rdparty/lib
ExecStart=/rno-g/lora/rno-g-lora-web

[Install]
WantedBy=multi-user.target
